@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Baloo+2:wght@400..800&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #ebe5d9 !important;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.container {
    height: 20%;
    max-width: 1000px !important;
    padding: 25px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.container__distribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.calling__styling {
    font-family: "Baloo 2";
    font-size: 2rem;
    line-height: 30px;
    min-width: 260px;
    margin: 0;
}

/* Header */

.header {
    background-color: #758976;
    color: #ebe5d9;
} 

.header__title {
    font-family: "Baloo 2";
    display: flex;
    flex-direction: column;
}

.header__title h2 {
    font-size: 2rem;
    margin: 0;
}

.container p {
    max-width: 900px;
    min-width: px;
    font-size: 0.9rem;
    letter-spacing: 0.9px;
    line-height: 20px;
    margin: 0;
    text-align: justify;
}

.header p {    
    text-align: center;
}

.button {
    width: 40%;
    max-height: 97px;
    max-width: 100px;
    border-radius: 70px !important;
    background-color: #EBE5D9;
    color: #758976;
    font-family: "Baloo 2";
    font-weight: bold;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    animation: bounce 0.8s infinite;
}

button:hover {
    animation: none;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* About Me */

.about {
    background-color: #9383B8;
    color: #ebe5d9;
    display: flex;
    justify-content: center;
}

/* Cards */

.card {
    height: auto;
    max-height: 600px;
    background-color: #758976 !important;
}

.cards {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.style {
    color: #EBE5D9 !important;
}

.cards__portfolio {
    height: auto;
    max-width: 1000px;
    margin: auto;
}

/* Contact */

.contact {
    background-color: #9383B8;
    color: #EBE5D9;
}

/* Footer */

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.lang--button {
    width: 5.5rem;
    border-radius: 50px;
    color: #EBE5D9;
    background-color: #758976;
    border: none;
    font-size: 0.7rem;
    padding: 5px;
}
  


/* Animations */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}